repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [file, python]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
     -  id: mypy
        args:
          - --ignore-missing-imports
        files: ".+.py"
