build: false

environment:
  global:
      REQUIREMENTS: "numpy pandas pytest flake8"

  matrix:
    - PYTHON_VERSION: 3.6
      MINICONDA: C:\Miniconda3-x64


init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda create -n test-env %REQUIREMENTS% python=%PYTHON_VERSION%
  - activate test-env
  - pip install -e .

test_script:
  - activate spotlight-env
  - pytest -sv

