name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      XDG_CACHE_HOME: /tmp/.cache/

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Cache pre-commit env
      id: cache-pre-commit
      uses: actions/cache@v1
      with:
        path: /tmp/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Install dependencies
      run: |
        pip install pre-commit
        pip install -e .
    - name: Lint
      run: |
        pre-commit run -a || echo "See https://pgeocode.readthedocs.io/en/latest/contributing.html" && git diff && exit 1
